<%- include('partials/navbar.ejs')%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- tailwindcss cdn -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="/css/app.css" />

    <title>Home</title>
  </head>
  <body>
   <pre> <h5>                       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Home page~~~~~~~~~~~~~~~~~~~~~~~~              </h5></pre>

    <!-- <nav class="navbar">
      <ul>
        <li ><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Sign-up</a></li>
        <li><a href="#">Log-in</a></li>
        <li><a href="#">About us</a></li>
      </ul>
    </nav> -->
    <script src="/public/js/app.js"></script>
  </body>
</html>
